.panelpos{
    position: relative; top: 150px; left: 380px; width: 46%;
}

.paymentpanelpos{
    position: relative; 
    top: 150px; 
    left: 380px; 
    text-align: center; 
    width: 43%;
}

.tableheadercolor{
    color: blue;
}

.center{
    text-align:center;
}
.title1{
    font-size: x-large;
    text-shadow: 0.5px 2px #5c1dcd;
    font-weight: 500;
}
.textdec{
    text-align: center;
    color: blue;

}